[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
python-dotenv = "*"
loguru = "*"
email-validator = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"
