@font-face {
  font-family: "Myriad Regular";
  src: url("fonts/myriad-pro-regular.ttf");
}

@page {
  margin: 0mm;
  size: letter landscape;
}

body {
  font-family: "Myriad Regular", sans-serif;
  background-image: url("certificado-conasa-29-reunion.png");
  background-size: cover;
  position: relative;
  height: 100vh;
}

.nombre {
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
  line-height: 1em;
  font-family: "Futura Condensed Medium", sans-serif;
  color: white;
  position: fixed;
}

.nombre-chico {
  bottom: 60%;
}

.nombre-largo {
  bottom: 55%;
}

.folio {
  text-align: right;
  float: right;
  bottom: 200px;
  right: 50px;
  font-size: 2rem;
  font-family: "Futura Condensed Medium", sans-serif;
  color: white;
  position: fixed;
}
