@font-face {
  font-family: "Monserrat";
  src: url("fonts/monserrat.eot"); /* IE9 Compat Modes */
  src: url("fonts/monserrat.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/monserrat.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/monserrat.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/monserrat.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/monserrat.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@page {
  margin: 0mm;
  size: letter;
}

body {
  font-family: "Monserrat", sans-serif;
}

h1 {
  color: red;
}
@page {
  size: landscape;
}
