<html>
  <head>
    <link href="styles-naequina-2023.css" rel="stylesheet" />
  </head>
  <body>
    <div class="folio">
      <span>{{folio}}</span>
    </div>
    <div class="nombre {{ name_class | default('nombre-chico') }}">
      {{asistente}}
    </div>
  </body>
</html>
