<html>
  <head>
    <link href="test.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="
      background-image: url('constancias2021-02.png');
      background-size: cover;
    "
  >
    <div
      style="width: 100%; text-align: right; margin-top: 25px; font-size: 2rem"
    >
      <span style="padding-right: 1px; margin-right: 1mm">{{folio}}</span>
    </div>
    <div
      style="
        width: 100%;
        text-align: center;
        margin-top: 210px;
        font-size: 3.5rem;
        line-height: 3.5rem;
      "
    >
      {{asistente}}
    </div>
  </body>
</html>
